:root {
  --main-color: rgb(208, 2, 27);
  --main-transparent-color: rgba(208, 2, 26, 0.5);
  --footer-bg-color: rgb(51, 51, 51);
  --black-color: rgb(0, 0, 0);
  --white-color: rgb(255, 255, 255);
  --nav-bg-color: rgb(51, 51, 51);
  --body-bg-color: rgb(18, 18, 18);
  --card-body-bg-color: rgb(51, 51, 51);
  --card-font-color: rgb(255, 255, 255);
  --main-font: "Roboto", sans-serif;
}

/* Body Styles */
body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--body-bg-color);
  color: var(--white-color);
  font-family: var(--main-font);
}

/* Banner Styles */
.banner {
  height: 40rem;
  width: 100%;
  margin-top: 5rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.banner-imagen {
  height: 30rem;
  width: 100%;
  margin-top: 5rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url(img/hotel_argentino_zona_slide.png);
}

.banner-imagen.banner-imagen-2 {
  background-image: url(img/foto-2.jpg);
  background-position: center;
}

.banner-imagen.banner-imagen-3 {
  background-image: url(img/Reserva-del-Cerro-Pan-de-Azúcar.png);
  background-position: center;
}

/* Margin Styles */
.margin-top-bottom {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.margin-parrafo {
  margin: 5rem 2.5rem;
  padding: 1rem;
}

/* Card Styles */
.card {
  background-color: var(--card-body-bg-color);
  color: var(--card-font-color);
}

.card-image-size {
  height: 10rem;
  width: 100%;
}

/* Heading Styles */
h2 {
  color: var(--white-color);
}

h4,
h5 {
  color: var(--main-color) !important;
}

/* Paragraph Styles */
p {
  text-align: justify;
}

/* Logo Styles */
.logo {
  width: 5rem;
  height: 5rem;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: rotate(360deg);
}

/* Footer Styles */
.footer {
  background-color: var(--footer-bg-color);
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 5rem;
}

/* Navigation Link Styles */
a.nav-link-efect {
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  color: var(--white-color);
}

a:hover.nav-link-efect,
a:focus.nav-link-efect,
.seleccionado a {
  background-size: 100% 2px;
  color: var(--main-color);
}

/* Highlight Styles */
.resaltado {
  color: var(--main-color);
}

/* Image Styles */
.contenido-img,
.contenido-img img {
  overflow: hidden;
}

.contenido-img a:hover > img,
.contenido-img img:hover {
  transform: scale(1.3);
}

.contenido-img a img {
  width: 100%;
  height: 15rem;
  text-align: center;
  transition: all 500ms ease-out;
}

.imagen img {
  width: 100%;
  height: 20rem;
  text-align: center;
  transition: all 500ms ease-out;
}

div.contenido-img.imagen {
  padding-left: 0;
  padding-right: 0;
}

/* Content Styles */
#content {
  opacity: 0;
  transition: opacity 0.5s ease;
}

#content.show {
  opacity: 1;
}

/* Navbar Styles */
.bg-light {
  background-color: var(--nav-bg-color) !important;
}

.navbar-toggler {
  border: 0.15rem solid var(--white-color) !important;
}

button.btn.language-button {
  background-color: var(--main-color) !important;
}

@media (max-width: 768px) {
  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

#scrollBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--main-transparent-color);
  color: var(--white-color);
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 10%;
}

#scrollBtn:hover {
  background-color: var(--main-color);
  color: var(--black-color);
}
